
/* styling for sidepages found under "page_*" folders */

.sidepage-container {
    width: 56.25%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -110px;
    border-top: 4px solid $border;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    background-color: #fff;

    .sidepage-section {
        padding-left: 110px;
        padding-right: 110px;
        padding-top: 70px;
        padding-bottom: 70px;

        h1 {
            font-size: 2.25rem;
            margin-bottom: 32px;
        }

        h2 {
            font-size: 1.25rem;
            margin-top: 40px;
            margin-bottom: 24px;
        }

        p {
            line-height: 1.5;
            margin-bottom: 24px;
        }

        #contact {
            margin-bottom: 8px;
        }

        #deptContacts {
            display: flex;
            flex-direction: row;
            gap: 90px;
        }

        a {
            font-size: 1.125rem;
            text-decoration: none;
            margin-bottom: 24px;
        }

        /* found in health.html */

        #bullet-list {
            font-size: 1.125rem;
            letter-spacing: 0.4px;
            list-style: circle;
            margin-left: 36px;
            
            li {
                margin-bottom: 8px;
            }
        }

        #boxed-list {
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-left: 16px;
        
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;
                padding-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 6px;
                background-color: $layout_1;
                color: #333;
            }
        }

        /* found in generalContact.html */

        table {
            font-size: 1.125;
            letter-spacing: 0.4px;
        }
    }
}