$layout_1: #ddd;
$layout_2: #bbb;
$layout_3: #999;
$layout_4: #777;
$layout_5: #555;
$layout_6: #333;

$border: #333;
$header: #1F2A4F;
$header_acc: #18203C;
$footer: #18203C;
$accent_red: #800a0a;
$accent_org: #DB840B;
$box-shadow-soft: 0 0 20px rgba(0, 0, 0, 0.25);
